@{
    string title;
    string contentText;
    string dataQueue;
    string label;
    string bodyClass;
#if BLAZOR
    title = "Theme Studio | Blazor | Syncfusion";
    contentText = "Customize and download built-in CSS themes of Syncfusion's Blazor UI Controls using Theme Studio online tool.";
    dataQueue = "Blazor - Theme Studio";
    label = "for Blazor";
    bodyClass = "sf-view blazor";

#else
    title = "Theme Studio | JavaScript | React | Vue | Angular | ASP Core | ASP MVC | Blazor | Syncfusion";
    contentText = "Customize and download built-in CSS themes of Syncfusion's JavaScript, Angular, React, Vue, ASP.NET MVC, ASP.NET Core & Blazor UI Controls using Theme Studio online tool.";
    dataQueue = "EJ2 - Theme Studio";
    label = "for Essential JS 2";
    bodyClass = "sf-view";
#endif
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="~/" />
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="author" content="Syncfusion" />
    <meta name="description" content="@contentText" />

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <environment names="Development">
        <link rel="stylesheet" href="~/styles/index.css" />
    </environment>
    <environment names="Production">
        <link rel="stylesheet" href="~/styles/index.min.css" />
    </environment>
    <link href="~/styles/lib/bootstrap.min.css" rel="stylesheet" />

    @*Google Tag Manager*@
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WLQL39J');
    </script>
</head>
<body class="@bodyClass">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLQL39J" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div hidden id="sync-analytics" data-queue="@dataQueue"></div>

    <div class="sf-view">
        <div class="theme-header-section">
            <div id="theme-header" class="theme-header sf-view" role="banner">
                <div class="theme-header-left">
                    <div class='ts-header-item ts-table-cell'>
                        <span class="theme-header-icon syncfusion-logo-icon"></span>
                    </div>
                    <div class='ts-header-item ts-table-cell'>
                        <h1 id='ts-header-text' class='e-ts-header-text'>
                            <div class='ts-header-text-left'> Theme Studio  </div>
                            <div class="ts-header-text-left-second ">
                                @label
                            </div>
                        </h1>
                    </div>
                </div>
                <div class='ts-header-right ts-right ts-table'>
                    <div class='ts-header-item ts-table-cell'>
                        <div class='ts-local-storage-btn' role="button">
                            <div class="remove-local-storage">
                                <span class='theme-header-icon remove-local-storage-icon' id="remove-local-storage"></span>
                            </div>
                        </div>
                    </div>
                    <div class='ts-header-item ts-table-cell'>
                        <div class='ts-filter-btn' role="button">
                            <div class="filter">
                                <span class='theme-header-icon header-icon-filter' id="filters"></span>
                            </div>
                        </div>
                    </div>
                    <div class='ts-header-item ts-table-cell'>
                        <div class='ts-export-btn' role="button">
                            <div class="export">
                                <span class='theme-header-icon header-icon-import' id="imports"></span>
                            </div>
                        </div>
                    </div>

                    <div class="sb-header-item sb-table-cell sb-download-wrapper">
                        <button id="download-now" class="header-download-button">
                            Download
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/scripts/datasource.js"></script>
        <script src="~/scripts/combine.js"></script>
        <script src="~/scripts/ej2.min.js"></script>
        <script src="~/scripts/index.js"></script>
    </environment>
    <environment names="Production">
        <script src="~/scripts/ej2.min.js"></script>
        <script src="~/scripts/index.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
